Q1. Create one variable containing following type of data

In [1]:
# String
S="hey how are you"
type(S)

str

In [2]:
# List
L=[1,2,'a',40]
type(L)

list

In [3]:
# Float
F=44.55
type(F)

float

Q2. What will be the data type of the  given variable

In [4]:
var1=' '
type(var1)

str

In [5]:
var2=['DS','ML','Python']
type(var2)

list

In [6]:
var3=1
type(var3)

int

Q3. Explain the use of the following operators using an example

1) /--> This is dvision operator a type of arithematic operator.It is use to perform dvision functon between two number.

In [7]:
# Example
a=10
b=5
a/b

2.0

2) %--> This is modulo operator it is also a type of arithmetic operator.It is use to find the remender of two numbers.

In [8]:
# Example
a=10
b=4
a%b

2

3) **--> This is the power operator.It is use to find exponential value of any number.

In [9]:
# Example
a=3
b=3
a**b

27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [11]:
L=['a',1,44.44,'hey',2,'like',6.4,7,5.5,'how']
for i in L:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>

Q5. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [12]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if(i%3==0):
        print("yes")
    else:
        print("no")

no
no
yes
no
no
yes
no
no
yes
no
no
yes
no
no
yes
no
no
yes
no
no
yes
no
no
yes
no

Q6. What do you understand about mutable and immutable data types? Give examples for both showing this property

Mutable data is a type of data in which we can perforn changes after its creation.wheareas immutable data are those data in which we can't perform changes after its creation. List is an example of mutable data and string is an example of imutable data.